*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.brand{
	text-align: center;
	padding: 2rem 0 2.5rem;
}
.container{
	padding: 0 2% 2rem;
}
.box{
	width: 32%;
	border: 3px solid #000000;
	background: #999999;
	float: left;
}
.box-2{
	margin: 0 2%;
}
.box-3{
	float: right;
}
.box h3{
	position: relative;
}
.box h3 span{
	display: inline-block;
	padding: .25rem 1.25rem;
	min-width: 150px;
	text-align: center;
	border: 2px solid #000000;
	border-top: none;
	border-right: none;
	background: #d59898;
	position: absolute;
	top: 0;
	right: 0;
}
.box-2 h3 span{
	background: #c14543;
	color: white;
}
.box-3 h3 span{
	background: #e5d198;
}
.box p{	
	padding: 3rem 1rem 0.75rem;
}



@media(min-width: 768px) and (max-width:  991px){
	.container{
		padding-left: 3%;
		padding-right: 3%;
	}
	.box-2{
		float: right;
		margin: 0;
	}
	.box{
		width: 48%;
		margin-bottom: 2rem;
	}
	.box-3{
		float: none;
		clear: both;
		width: 100%;
	}
}
@media(max-width: 767px){
	.container{
		width: 80%;
		margin: 0 auto;
	}
	.box{
		width: 100%;
		float: none;
		margin-bottom: 2rem;
	}
	.box-2{
		margin-left: 0;
		margin-right: 0;
	}
}
